#container{width:100%}
#left{margin-left:0px;float:left;width:550px;}
#right{margin-right:0px;float:right;width:200px;}
#left-2{margin-left:0px;float:left;width:360px;}
#right-2{margin-right:0px;float:right;width:360px;}
